* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.container ul a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 30px;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    transition: all 0.7s ease;
}
.container ul a::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    border: 10px solid red;
    border-width: 0 0 3px 3px;
    opacity: 0;
    bottom: 12px;
    left: 12px;
    transition: all 0.7s ease;
}
.container ul a:hover::before {
    opacity: 1;
    bottom: 0;
    left: 0;
}
.container ul a::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    border: 10px solid red;
    border-width: 3px 3px 0 0 ;
    opacity: 0;
    top: 12px;
    right: 12px;
    transition: all 0.7s ease;
}
.container ul a:hover::after {
    opacity: 1;
    top: 0;
    right: 0;
}