@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+DE+Grund:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #7400b8, #4ea8de, #72efdd);
}
.container .card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    width: 700px;
    border-radius: 16px;
    background-color: #ffffff;
    line-height: 28px;
    transition: all 0.7s ease;
}
.container .card:hover {
    transform: scale(1.1);
}
.container .card h1 {
 color: #f0c808;
 font-size: 25px;
 font-weight: 700;
 margin-bottom: 5px;   
}

::-webkit-scrollbar {
    background-color: black;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #fca311;
    border-radius: 100px;
}